body {
    margin: 0;
}

.header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.score-container {
    display: flex;
    gap: 2rem;
}

.header-score {
    text-align: center;
    margin: 0;
}

.score-label {
    margin: 0;
}

.card-deck {
    margin: 1rem 2rem;
}

