body {
    margin: 0;
}

.header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.score-container {
    display: flex;
    gap: 2rem;
}

.header-score {
    text-align: center;
    margin: 0;
}

.score-label {
    margin: 0;
}

.card-deck, .instructions {
    margin: 1rem 2rem;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.2rem;
}

.pokemon-img {
    max-width: 100%;
}

@media (max-width: 400px) {
    .label {
        font-size: 0.8rem;
    }

    .card {
        width: 40%;
    }
}
